* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  outline: 1px solid black;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
}

.logo-holder {
  display: flex;
  align-content: space-between;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

div .button {
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: rgb(10, 172, 212);
  position: relative;
}

.hero {
  display: flex;
}
