* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

* {
  /* outline: 1px solid black; */
  color: light gray;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
}

.logo-holder {
  display: flex;
  align-content: center;
  justify-content: center;
  color: black;
}

.menu {
  display: flex;
  align-content: space-between;
}
.menu-1,
.menu-2,
.menu-3,
.menu-4 {
  padding: 16px;
  font-color: black;
}

.hero-text {
}

.menu li {
  display: flex;
  list-style: display none;
}

div .button {
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: rgb(10, 172, 212);
  position: relative;
}

.hero {
  display: flex;
}

a:hover {
  color: rgb(26, 2, 186);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  background-color:  white;
}

a {
  text-decoration: none;
}

.list-menu {
  padding: 10px 10px;
  margin: 0 auto;
  align-content: space-around;
  justify-content: space-between;
}

.logo-pack {
  display: flex;
  padding: 10px 10px;
  margin: 0 auto;
}

.footer-class {
  display: flexbox;
  font-weight: thin;
  visibility: 0.5%;
}

.authorise {
  display: flex;
  align-content: end;
}
